# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
data/models/
data/yolo/*
!data/yolo/README.md


# OS files
.DS_Store
Thumbs.db

runs/
runs_yolo/
*.pt
*.onnx
*.pth
*.jpg
